.git
.gitignore
__pycache__/
*.py[codz]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.ipynb_checkpoints
profile_default/
ipython_config.py
__pypackages__/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.ruff_cache/
marimo/_static/
marimo/_lsp/
__marimo__/
.direnv
uploads
.venv
.env
.env.*
.DS_Store
